* {
  margin: 0 !important;
  padding: 0 !important;
}

@import url("https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,200;0,400;0,500;0,600;0,700;1,100;1,200&display=swap");
:root {
  --primary: #8f1d3f;
  --light-grey: #f8f9fa;
  --white: #fff;
  --border-grey: #dee2e6;
}

.dropdown-toggle {
  background-color: transparent !important;
  color: #8f1d3f !important;
  border: none !important;
}

body {
  font-family: "Poppins", sans-serif;
  background: #f2f3f8;
}

.primary-color {
  color: var(--primary) !important;
}

.rec-pagination {
  flex-wrap: nowrap !important;
  width: 100% !important;
  justify-content: center !important;
}

.rec-dot {
  margin-right: 5px !important;
}

.bg-primary {
  background: var(--primary) !important;
}

.light-grey {
  background: var(--light-grey);
}

.nav-list {
  box-sizing: border-box !important;
  border: 1px solid var(--light-grey);
}

.nav-list:hover {
  background: #fff;
  border: 1px solid var(--border-grey);
}

/* components */

.cp {
  /* cursor pointer*/
  cursor: pointer;
}

.btn-qs-secondary {
  background: #6a6969;
  color: var(--white);
}

.btn-qs-primary {
  background: var(--primary);
  color: var(--white);
}

.btn-qs-primary:hover {
  background: var(--primary);
  color: var(--white);
}

.popup {
  position: fixed;
  width: 100%;
  height: 100%;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  margin: auto;
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: rgba(0, 0, 0, 0.5);
  z-index: 9999;
}

.search:focus {
  color: black;
  outline: none !important;
  border: 1px solid #b8b6b6 !important;
  box-shadow: inset 0px 6px 8px rgba(143, 29, 63) !important;
  background: #fff;
  border-radius: 40px;
  transition: all 0.3s ease;
}

/* Carousel */

/* Product */

.product {
  border: 1px solid var(--light-grey);
  border-radius: 8px !important;
  transition: box-shadow 0.3s;
}

.product:hover {
  background: var(--white);
  border: 1px solid var(--border-grey) !important;
  cursor: pointer;
  box-shadow: 0 0 11px rgba(33, 33, 33, 0.2);
}

.card:hover {
  background: var(--white);
  border: 1px solid var(--border-grey) !important;
  cursor: pointer;
  box-shadow: 0 0 11px rgba(33, 33, 33, 0.2);
  transition: all 0.3s ease;
}

.product h6 {
  text-overflow: ellipsis;
  overflow: hidden;
  white-space: wrap;
}

.product p {
  text-overflow: ellipsis;
  overflow: hidden;
  white-space: nowrap;
}

.product:hover {
  background: var(--white);
  border: 1px solid var(--border-grey);
  cursor: pointer;
}

.product-image {
  height: 100px;
  width: 100px;
}

.btn-cart {
  background: #fff;
  height: 30px !important;
  width: 30px !important;
  outline: none !important;
  padding: 7px !important;
  border-radius: 50%;
  transition: all 0.2s ease;
  border: 1px solid var(--border-grey) !important;
}

.btn-cart:hover {
  border: 1px solid var(--border-grey) !important;
  transform: scale(1.2);
  cursor: pointer;
  box-shadow: 0 0 11px rgba(33, 33, 33, 0.2);
}

/* font size */

.fs-12 {
  font-size: 12px;
}

/* CAROUSEL  */

/* square buttons */
.rec {
  width: 100%;
}

.rec-dot {
  height: 5px !important;
  width: 5px !important;
}

.rec.rec-arrow {
  height: 30px !important;
  width: 30px !important;
  min-height: 30px !important;
  min-width: 30px !important;
  font-size: 0.8rem !important;
  border-radius: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
  align-self: center;
  background: var(--light-grey) !important;
}
/* round buttons on hover */
.rec.rec-arrow:hover {
  border-radius: 100%;
  background: var(--primary) !important;
}
/* hide disabled buttons */
.rec.rec-arrow:disabled {
  visibility: hidden;
}
/* disable default outline on focused items */
/* add custom outline on focused items */
.rec-carousel-item:focus {
  outline: none;
  box-shadow: inset 0 0 1px 1px lightgrey;
}

.rec-pagination {
  display: flex;
  align-items: center;
  justify-content: space-around;
  flex-direction: row;
  flex-wrap: wrap;
  width: 3%;
  margin-top: 1.2em !important;
}

.rec-dot_active {
  box-shadow: 0 0 1px 3px var(--primary) !important;
  background: #fff !important;
}

.product-magnify {
  width: 342px;
  height: 800px;
}

/* REACT TABS */
.react-tabs {
  width: 100% !important;
}

.react-tabs__tab-list {
  border: none !important;
  border-bottom: 1px solid var(--border-grey) !important;
}

.react-tabs__tab {
  border: none !important;
  outline: none !important;
  padding: 0.8em !important;
}

.react-tabs__tab--selected {
  border-bottom: 2px solid var(--primary) !important;
}

.react-tabs__tab-panel--selected {
  padding: 1em !important;
}

/* floating button */

.floating-btns-container {
  position: fixed !important;
  z-index: 1000 !important;
  bottom: 50px;
  right: 50px;
  display: flex;
  flex-direction: column;
  
}
.floating-btn{
  margin-block: 2px !important;
}
/* .floating-btn img{
  width:35px;
  height:35px;
} */
/* sign in modal  */

.bg-transparent-full {
  position: fixed !important;
  z-index: 100 !important;
  display: flex;
  align-items: center;
  justify-content: center;
  top: 0 !important;
  width: 100%;
  height: 100vh;
  background-color: rgba(0, 0, 0, 0.5) !important;
  backdrop-filter: blur(5px);
}

.signIn-model {
  position: fixed !important;
  z-index: 1000 !important;
}

.animate-close {
  border-radius: 100%;
  height: 30px;
  width: 30px;
  display: flex;
  align-items: center;
  justify-content: center;
}

.animate-close:hover {
  color: var(--primary);
  transition: all 0.1s ease;
}

/* inputs */

.qs-input {
  border: 1px solid var(--border-grey);
  outline: none;
  transition: all 0.3s ease;
}

.qs-input:focus {
  border: 1px solid var(--primary);
  transition: all 0.3s ease;
}

/* ACCORDIAN HEADER OVERRIDES */

.accordion-header {
}

.accordion-button[aria-expanded="true"] {
  padding: 1rem !important;
  background: var(--primary) !important;
  color: var(--white) !important;
}

.accordion-button {
  padding: 1em !important;
  background: #fff !important;
  box-shadow: none !important;
  color: var(--primary);
}

/* Search with Dropdown */

.dropdown-content {
  /* position: absolute; */
  background-color: #f6f6f6;
  min-width: 230px;
  overflow: auto;
  border: 1px solid #ddd;
  z-index: 10;
}

.dropdown-content div {
  position: absolute;
  background-color: #f6f6f6;
  color: black;
  padding: 12px 16px;
  text-decoration: none;
  overflow: auto;
  z-index: 5;
}
.dropdown-list-item {
  background-color: #fff;
  color: black;
  padding: 6px 8px 6px 8px !important;
  text-decoration: none;
  display: block;
  display: flex;
}

.dropdown-content :hover {
  color: var(--primary);
}

.dropdown-list-item-text {
  margin-left: 10px !important;
}

.spinner {
  border: 8px solid #f3f3f3;
  border-radius: 50%;
  border-top: 8px solid var(--primary);
  width: 60px;
  height: 60px;
  -webkit-animation: spin 2s linear infinite; /* Safari */
  animation: spin 2s linear infinite;
}

/* Safari */
@-webkit-keyframes spin {
  0% {
    -webkit-transform: rotate(0deg);
  }
  100% {
    -webkit-transform: rotate(360deg);
  }
}

@keyframes spin {
  0% {
    transform: rotate(0deg);
  }
  100% {
    transform: rotate(360deg);
  }
}

/* Translate Dropdown */

/* .dropdown {
  float: right;
  position: relative;
  display: inline-block;
} */

.dropdown-translate-content {
  display: none;
  position: absolute;
  background-color: #f1f1f1;
  min-width: 160px;
  overflow: auto;
  box-shadow: 0px 8px 16px 0px rgba(0, 0, 0, 0.2);
  right: 0;
  z-index: 1;
}

.dropdown-translate-content a {
  color: black;
  padding: 12px 16px;
  text-decoration: none;
  display: block;
}

/* .dropdown a:hover {background-color: #ddd;} */

.dropdown-menu.show {
  padding: 10px 15px !important;
}

a.dropdown-item {
  padding-top: 6px !important;
  border-bottom: 1px solid rgba(0,0,0,0.1);
}

.pointer{
  cursor: pointer;
}

.subscribe-container{

}
.subscribe-input,.subscribe-btn{
  border-radius: 0px;
  padding: 5px !important;
}
.subscribe-btn:hover{
  background-color: var(--primary);
  color:#fff;
}
.nowrap{
  white-space: nowrap;
}
.my-toast {
  padding: 17px !important;
  border-radius: 0px;
}
.ads-img{
  object-fit: cover;
}

/**** Pagination Css ****/
.pagination{
  margin: 10px !important;
}
li.label-item.page-item.disabled {
  background-color: gray !important;
}
li.page-item.active {
  background-color: dodgerblue;
  color: white;
}
li.page-item {
  padding: 5px 15px !important;
}
li.label-item.page-item {
  background-color: var(--primary) !important;
}
li.label-item.page-item a {
  color: white;
  text-decoration: none;
}
.page-item{
  margin-inline: 1px !important;
}
/** Css for SortBy Select **/
.sortby-select {
  min-width: 200px;
}
.sortby-select > div{
  border-radius: 0px;
  padding-inline: 5px !important;
}
.sortby-select.filter-select > div {
  border-left: none !important;
}
.reset-btn {
  padding: 6px !important;
  border-radius: 0px;
  margin-left:1px !important;
}
.App{
  overflow-x: hidden;
  /* overflow-y: visible; */
}
.return-policy{
  padding: 5px 10px !important;
  background-color: var(--primary);
  color: white;
  width:fit-content;
  border:1px solid;
  border-radius: 6px;
  font-weight: 500;
}

.text-right{
  text-align: right !important;
}
.ad-container{
  height:40px !important;
}
.slick-dots{
  position:unset !important;
  transform: translateY(-50%);
}
.slick-dots li {
  height: 10px !important;
}
.slick-track
{
    display: flex !important;
}

.slick-slide
{
    height: inherit !important;
}
.slick-slide .slide  img {
  height: 419px;
}
.home-slider .slick-slider {
  height: 430px;
}
.floating-tooltip{
  padding:10px 20px !important;
  border-radius: 8px !important;
  font-size:1rem !important;
  font-weight: 500;
  color:rgba(0,0,0,0.7) !important;
  box-shadow: -10px 7px 19px -11px rgba(115,115,115,0.57);
-webkit-box-shadow: -10px 7px 19px -11px rgba(115,115,115,0.57);
-moz-box-shadow: -10px 7px 19px -11px rgba(115,115,115,0.57);
}
.product-image {
  height: 140px;
  width: 140px;
}

.footer-features div img{
margin-right:5px !important;
}
.footer-features span{
  color:rgba(0,0,0,0.7);
}
.rec-item-wrapper{
  height:100% !important;
}
.text-clip{
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
}
.product{
  max-width: 250px;
}
.message {
  color:rgba(0,0,0,0.7) !important;
  text-decoration: none !important;
  background: #ffffff;
  padding: 13px 31px !important;
  border-radius: 12px;
  position: absolute;
  right: 62px;
  top: 3px;
  white-space: nowrap;
  box-shadow: -10px 7px 19px -11px rgba(115,115,115,0.57);
  -webkit-box-shadow: -10px 7px 19px -11px rgba(115,115,115,0.57);
  -moz-box-shadow: -10px 7px 19px -11px rgba(115,115,115,0.57);
}
.message::after {
  content: '';
    position: absolute;
    right: -10px;
    top: 29%;
    border-top: 10px solid rgb(255 255 255 / 0%);
    border-left: 15px solid #ffffff;
    border-bottom: 10px solid #ffffff00;
}
.lang-change > div > div{
  border-radius:0px;

}
.lang-change  .css-319lph-ValueContainer{
  padding:2px !important;
}
/* .nav-list h6{
  font-weight: 400 !important;
} */
div#react-select-7-placeholder {
  white-space: nowrap;
}
 .language-selector .css-qc6sy-singleValue {
  color: white;
}
.language-selector .css-1dlie74-control {
 border:none;
}
.language-selector span.css-1okebmr-indicatorSeparator {
  width: 0px;
}
/*.language-selector .css-1s2u09g-control {
  background-color: #8f1d3f !important;
} */
@media (max-width: 768px) {  
  .col-md-4.d-flex.flex-row.align-items-center.justify-content-end.header-btn-group{
    justify-content: center !important;
    margin-top: 5px !important;
 }
 .p-0.w-75.dropdown-content {
  margin-right: 5px !important;
}

.filter-container .sortby-select{
 min-width: 100px;
}
.sorting-container{
  margin-top:10px !important;
  margin-inline: auto !important;
}
.delivery-option{
  max-width:150px;
}
.slick-slide .slide  img {
  height: 204px;
}
.home-slider .slick-slider {
  height: 215px;
}
.product-image {
  height: 100px;
  width: 100px;
}
.footer-features div{
  margin-block: 5px !important;
  }
.rating span {
  font-size:16px !important;
}
.react-tabs li{
  font-size: 12px !important;
}
}